.bodyContainer {
  display: flex;
  /* min-height: calc(100vh - 60px); */
  min-height: 100vh;
}


.contentArea {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .bodyContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .bodyContainer .sidebar {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  .bodyContainer .contentArea {
    display: flex;
    min-height: calc(100vh);
  }
}
